<div th:fragment="siteFooter" class="site-footer">
  <div class="footer-inner">
    <!-- Colonne 1 -->
    <div class="footer-col">
      <h3>Restez connecté(e)</h3>
      <div class="footer-underline"></div>
      <p>Pour vous inscrire et suivre vos inscriptions aux concours et examens professionnels de la Fonction Publique.</p>
    
    </div>

    <!-- Colonne 2 -->
    <div class="footer-col">
      <h3>Contact</h3>
      <div class="footer-underline"></div>
      <p>Pour demander des renseignements ou obtenir une assistance, cliquez ci-dessous.</p>
      <a href="#" class="btn-dark">Contactez-nous</a>
    </div>

    <!-- Colonne 3 -->
    <div class="footer-col">
      <h3>Infos pratiques</h3>
      <div class="footer-underline"></div>
      <ul>
        <li><a href="#">Se renseigner et s'inscrire aux concours et examens</a></li>
        <li><a href="#">Questions / réponses</a></li>
        <li><a href="#">Protection des données personnelles</a></li>
        <li><a href="#">Conditions d'utilisation</a></li>

      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    Site développé et maintenu par :)
  </div>
</div>
