<div xmlns:th="http://www.thymeleaf.org" th:fragment="modals">
  <dialog id="guideModal" class="modal">
    <form method="dialog">
      <h4>Conditions du concours</h4>
      <div id="guideContent" class="modal-body"></div>
      <menu><button class="btn-outline">Fermer</button></menu>
    </form>
  </dialog>

  <dialog id="centersModal" class="modal">
    <form method="dialog">
      <h4>Centres d'examen</h4>
      <div id="centersContent" class="modal-body"><div class="muted">Chargement…</div></div>
      <menu><button class="btn-outline">Fermer</button></menu>
    </form>
  </dialog>
</div>
